.feedback_form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.question_row, .radio_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.question_row, .question_col {
  margin: 20px 0;
}

.question_col {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: 20px;
}
.text_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.suggestion_textarea {
  width: 400px;
  height: 100px;
  text-align: right;
  direction: rtl;
}
.action_textarea {
  width: 400px;
  height: 100px;
  text-align: right;
  direction: rtl;
}

.radio_question {
  text-align: right;
  margin-bottom: 10px;
}
.radio {
  margin-left: 20px;
}

label {
  margin-left: 20px;
}

.optional_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}

.optional {
  color: lightgreen;
  margin: 0 20px;
}

.input_text {
  margin: 0 10px;
  width: 150px;
  direction: rtl;

}